// README
// This is only a .env example
// Do not change this file!
// Use cp or mv (like this: cp env.example .env), then edit .env with your Keys.
// IMPORTANT: Don't forget to add to update your .gitignore with .env (to avoid public share your key!)

DATABASE_URL=mongodb+srv://tasinmiftaulmannan:<MbV9Glq8uCkEincv>@cluster0.cxttoo8.mongodb.net/
NEXTAUTH_SECRET=type-anything-or-generate-a-guid-online-and-use-that
NEXTAUTH_URL=http://localhost:3020/

NEXT_PUBLIC_PUSHER_APP_KEY="688c01e127f1e09f1aca"
NEXT_PUBLIC_PUSHER_CLUSTER="eu"
PUSHER_APP_ID="1763417"
PUSHER_SECRET="17ad3582e2f2b2314428"

NEXT_PUBLIC_CLOUDINARY_CLOUD_NAME=
NEXT_PUBLIC_CLOUDINARY_PRESET_NAME=bnqhmlwg

GITHUB_ID=
GITHUB_SECRET=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
